<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th> 
        <th scope="col">Pedido</th>
        <th scope="col">Comentarios del pedido</th>
        <th scope="col">Direccion de entrega</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders; index as i" 
      [ngClass]="{'table-success': order.pedidoStatus =='Aceptado','table-dark': order.pedidoStatus=='Rechazado',
                'table-info': order.pedidoStatus=='Entregando...','bg-success': order.pedidoStatus=='Entregado'} ">
        <td>{{i+1}}</td>
        <td>{{order.itemsPedido}}</td>
        <td>{{order.descripcionPedido}}</td>
        <td>{{order.direccionEntrega}}</td>
        <td>{{order.pedidoStatus}}</td> 
        <td>
          <button class="btn btn-danger" (click)="onDelete(order.id)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>

          <a routerLink="/pedidods/editar/{{order.id}}">
            <button type="button" class="btn btn-primary ml-4">
             <span class="glyphicon glyphicon-edit"></span>
            </button>
          </a>
       </td>
      </tr>
    </tbody>
  </table>