<div class="container mt-3">
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()"> 
        <div class="form-row">
          <div class="form-group col-md-6" [ngClass]="{'has-error' : orderForm.get('idCliente').errors && 
          (orderForm.get('idCliente').touched || orderForm.get('idCliente').dirty)}">
            <label for="idCliente" class="control-label">Cliente</label>
            <select id="idCliente" class="form-control" formControlName="idCliente">
              <option *ngFor="let customer of customers">{{customer.firstName}} {{customer.lastName}}</option>
            </select>
            <span class="help-block" *ngIf="orderForm.get('idCliente').errors && 
            (orderForm.get('idCliente').touched || orderForm.get('idCliente').dirty)">
               <span *ngIf="orderForm.get('idCliente').errors.required">
                 El cliente es requerido
               </span>
           </span>
          </div>


          <div class="form-group col-md-6" [ngClass]="{'has-error' : orderForm.get('idRepartidorAsignado').errors && 
          (orderForm.get('idRepartidorAsignado').touched || orderForm.get('idRepartidorAsignado').dirty)}">
            <label for="idRepartidorAsignado" class="control-label">Repartidor</label>
            <select id="idRepartidorAsignado" class="form-control" formControlName="idRepartidorAsignado">
              <option *ngFor="let courier of couriers">{{courier.Name}} {{courier.LastName}}</option>
            </select>
            <span class="help-block" *ngIf="orderForm.get('idRepartidorAsignado').errors && 
            (orderForm.get('idRepartidorAsignado').touched || orderForm.get('idRepartidorAsignado').dirty)">
               <span *ngIf="orderForm.get('idRepartidorAsignado').errors.required">
                 El repartidor es requerido
               </span>
           </span>
          </div>
        </div>



        <div class="form-group"  [ngClass]="{'has-error' : orderForm.get('itemsPedido').errors && 
        (orderForm.get('itemsPedido').touched || orderForm.get('itemsPedido').dirty)}">
          <label for="itemsPedido">Que es lo que quiere</label>
          <textarea type="text" class="form-control" id="itemsPedido" placeholder="Esribe tu pedido aqui..." formControlName="itemsPedido"></textarea>
          <span class="help-block" *ngIf="orderForm.get('itemsPedido').errors && 
          (orderForm.get('itemsPedido').touched || orderForm.get('itemsPedido').dirty)">
             <span *ngIf="orderForm.get('itemsPedido').errors.required">
               Escribe tu orden
             </span>
         </span>
        </div>

        <div class="form-row"  [ngClass]="{'has-error' : orderForm.get('descripcionPedido').errors && 
        (orderForm.get('descripcionPedido').touched || orderForm.get('descripcionPedido').dirty)}">
          <label for="descripcionPedido">Carnet de Identidad</label>
          <input type="text" class="form-control" id="descripcionPedido" placeholder="numero de carnet de identidad" formControlName="descripcionPedido">
          <span class="help-block" *ngIf="orderForm.get('descripcionPedido').errors && 
          (orderForm.get('descripcionPedido').touched || orderForm.get('descripcionPedido').dirty)">
             <span *ngIf="orderForm.get('descripcionPedido').errors.required">
               El nuemro de carnet de identidad es requerido
             </span>
             <span *ngIf="orderForm.get('CI').errors.min || orderForm.get('CI').errors.maxlength || orderForm.get('CI').errors.minlength">
               El Carnet de identidad ingresado no es valido
             </span>
         </span>
        </div>
        <a routerLink='../../pedidos' ><button class="btn btn-info mt-3 mr-3">Cancelar</button></a>
        <button value="submit" type="submit" class="btn btn-primary mt-3 mr-3" [ngClass]="{'valid-form': orderForm.valid != true}">Agregar cliente</button>

    </form>
</div>


