<div class="jumbotron">
    <h1 class="display-4">Bienvenido a Express</h1>
    <p class="lead">Una pagina dirigida a la administracion de pedidos y manejo de personal de entrega</p>
    <hr class="my-4">
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
        <div class="card">
        <img class="card-img-top" src="/assets/images/cliente.jpg"  width="320" height="240" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Registra Clientes</h5>
          <p class="card-text">Registra a los clientes que realizaran pedidos</p>
          <a routerLink="clientes"><button class="btn btn-primary">Empezar</button></a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="/assets/images/delivery-man.jpg" width="320" height="240" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Registra Repartidores</h5>
          <p class="card-text">Registra repartidores que seran los que entregaran los pedidos</p>
          <a routerLink="repartidores"><button class="btn btn-primary">Empezar</button></a>
        </div>
      </div>
    </div>


    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="/assets/images/managment.jpg" width="320" height="240" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Administra pedidos</h5>
          <p class="card-text">Agrega y/o elimina los pedidos de tus clientes</p>
          <a routerLink="administrar_pedidos"><button class="btn btn-primary">Empezar</button></a>
        </div>
      </div>
    </div>
  </div>
</div>