<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"   routerLink="/">
        <img src="/assets/images/business-icon.jpg" width="30" height="30" alt="">
        Express</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/clientes">Clientes <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/repartidores">Repartidores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pedidos">Administrar de Pedidos</a>
        </li>
      </ul>
    </div>
  </nav>