<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">CI</th>
        <th scope="col">Telefono</th>
        <th scope="col">Placa</th>        
        <th scope="col">Movilidad</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-dark" *ngFor="let courier of couriers; index as i">
        <td>{{i+1}}</td>
        <td>{{courier.Name}}</td>
        <td>{{courier.LastName}}</td>
        <td>{{courier.Ci}}</td>
        <td>{{courier.Phone}}</td>
        <td>{{courier.LicensePlate}}</td>
        <td>{{courier.TypeOfVehicle}}</td>
        <td>
          <button class="btn btn-danger" (click)="onDelete(courier._id)">
           <span class="glyphicon glyphicon-trash"></span>
          </button>

          <a routerLink="/repartidores/editar/{{courier._id}}">
            <button type="button" class="btn btn-primary ml-4">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </a>  

          <a routerLink="/repartidores/{{courier._id}}">
            <button type="button" class="btn btn-info ml-4">
              <span class="glyphicon glyphicon-info-sign"></span>
            </button>
          </a>  
       </td>
      </tr>
    </tbody>
  </table>